In [225]:
from bs4 import BeautifulSoup
import pandas as pd

In [258]:
years = list(range(2010,2019))
months = ["%02d"%x for x in range(1, 13)]

for year in years:
    for month in months:
        file_html = open('Data/Html_Data/2015/07.html'.format(year,month), 'rb')
        plain_text = file_html.read()

        soup = BeautifulSoup(plain_text, 'lxml')

        table = soup.find('table', class_ = 'medias mensuales numspan')
        tbody = table.find_all('tr')
        tcols = [table.find('tr').find_all('th')[i].text for i in range(15)]

        days_in_month = len(tbody) - 3                                       # (1 for cols, last 2 for avg of the month)

        tdata_of_month = [[table.find_all('tr')[day].find_all('td')[i].text for i in range (15)] for day in range(1, days_in_month + 1)]

        df_month = pd.DataFrame(tdata_of_month, columns = tcols)

        df_month.drop(columns = ['VG', 'RA', 'SN', 'TS', 'FG'], inplace = True)
        df_month.replace('', np.nan, inplace = True)
        df_month.dropna(subset = tcols[1 : 9], inplace = True)
        
        if not os.path.exists("Data/Scrapped_Data/{}".format(year)):
            os.makedirs("Data/Scrapped_Data/{}".format(year))
        df_month.to_csv("Data/Scrapped_Data/{}/{}.csv".format(year, month), index = False)

In [255]:
df_month

   Day     T    TM    Tm     SLP   H     PP   VV     V    VM
0    1  31.9  37.8    25  1001.8  61      0  1.9   4.3   9.4
1    2  33.8  38.9    27  1001.1  54      0  1.9     7    13
2    3  33.4  39.8  27.6   999.7  54      0  1.9    13  25.9
6    7  28.3  33.6  23.3   998.4  87  10.92  1.9   1.7   7.6
7    8  31.2  35.8  24.8   998.6  77  26.92  1.9   2.8  11.1
8    9  29.7  35.8  25.2   998.9  82   1.02  1.9   2.6   9.4
12  13  29.9  33.7  23.3  1000.6  78   7.11  2.6   4.8  11.1
13  14  31.1  35.6  26.4   998.5  73      0  1.9  10.9  18.3
14  15  33.4    37    27   994.1  61      0  1.9  17.2  29.4
18  19  30.1  34.7    26   997.7  76   2.03  1.9   0.7   5.4
19  20  29.1  34.7  24.4   999.2  82   3.05  1.9   4.8  11.1
20  21  31.5  35.7  25.7   999.9  74   4.06  1.9   8.1    13
24  25  31.3  36.5  27.3   999.3  73      0  2.7   8.7  14.8
25  26    30  36.6    27   998.8  76    6.1  2.6  16.9  25.9
26  27  29.7  34.7  24.6  1000.2  74   4.06  2.7  11.3  18.3
30  31  28.9  31.6    25   999.7  77   0.51  1.9   4.1  14.8